* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  h1{
    font-family: Medium 500;
    font-size: x-large;
    padding: 40PX;
    text-align: center;
    text-shadow: 2px 2px 8px #000000;
  }
  #listmenu{
    
  }
/* nav */
nav{
  /* background-image: 
  ( 135deg, #9f05ff69 10%, #fd5e086b 100%); */
  height: 80px;
  }
  label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
  }
  a.active,a:hover{
    background-color: #ffcad8;
    transition: .5s;
    color: #000;
    list-style: none;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-bottom: 40px;
    cursor: pointer;
    display: none;
  }
   #check{
    display:none;
  } 
  @media (max-width:1040px) {
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
  font-size: 16px;
    }
  }
  @media (max-width:942px) {
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
    top: 110px;
    left:-950px;
    text-align: center;
    transition:  all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
  font-size: 20px;
  }
  a:hover,a:active{
    background: none;
    color: #000;
  }
  #check:checked~ul{
    left: 0;
  }
  }
  
  
  /* end nav */

header {
	background:url('images/car-gb47b51dec_1920.jpg');
    background-attachment: fixed;
	/* text-align: center; */
	width: 100%;
	height: 800px;
	background-size: cover;
	/* background-attachment: fixed; */
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
    background-position: center;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

  
  h3, p {
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 30px;
  }
  
  #the-top {
      border: none;
      outline: none;
      padding: 10px 20px;
      border-radius: 50px !important;
      color:#0000003b ;
      background:#ffa4bd;
      margin-bottom: 50px;
      box-shadow: 0 3px 20px 0 #0000003b;
    position: absolute;
    bottom: 40px;
    right: 10px;
   position: fixed;
   z-index: 1;
  }
  button:hover{
      cursor: pointer;
  }
/* ******Galerie******* */
.car{
    display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    
    }
    .imgGalerie{
    width: 500px;
    height: 400px;
    padding-bottom: 20px;
    border-radius: 50px;
    }
    .images{
      position: relative;
      text-align: center;
      color: #000000;
      text-align:left ;
      background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
      border-radius: 50px;
    justify-content: center;
    margin: 20px;
    
    }
    .images:hover{
      box-shadow: 5px 10px 8px 10px #ffcad8;
      background-color: #ffcad8;
    }
    
    .txt{
      text-align: center;
      font-size: 20px;
      padding: 10px;
    }
    
    .H1{
    height: 100px;
    background-color: #ffcad8;
    padding: 20px;
    
    }
    
    
    .pGalerie{
      text-align: center;
      padding:40px;
      font-size: 40px;
    }
    /* ******Galerie******* */
    #navgalerie{
      position: relative;
      left: 45%;
      padding-top:10%;
    
    }
    .ulgalrie {
      position: relative;
      list-style-type: none;
      margin: 0;
      padding-top: 20px;
      width: 200px;
      background-color: #ffcad8;
      border-radius:50px ;
    }
    
    /* li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none ;
      
      
    } */
    /* Change the link color on hover */
    /* li a:hover {
     font-size:x-large;
      color: white;
      text-shadow: none;
    } */
    /* FOOTER */
.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)),
    url("images/cars.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
   
  }
  .footer-dark .item.social {
    text-align: center;
  
  }
  .footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #ffcad8;
    opacity: 0.75;
    background-color: black;
   
  }
  .footer-dark .item.social > a:hover {
    background-color:#ffcad8;
    color: black;
  }
  
  .footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    color: #ffcad8;
  }
  .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    .footer-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
      justify-content: center;
    }
    .footer-dark h3 {
      font-size: 30px;
      text-align: center;
    }
  }
  
  .services-header {
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }
  .services-header h3 {
    font-size: 2.5em;
    font-family: "Arvo", serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #2a404e;
    margin: 30px;
  }
  
  
  .services-header p {
    line-height: 1.5em;
    font-size: 15px;
    color: #7e7e7e;
    padding: 25px 0;
  }
  .services-sectiongrids {
    text-align: center;
    background-color: #2a404e;
    width: 100%;
  }
  .services-sectiongrids h3 {
    font-size: 2.5em;
    font-family: "Arvo", serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    margin: 30px;
  }
  
  .services-grid h4 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px 0;
    color:#ffcad8;
    text-transform: uppercase;
  }
  
  .services-grid p {
    font-size: 15px;
    color: #ffcad8;
    padding: 0 22px;
  }
  @media (max-width:390px) {
    label.logo {
   
      font-size: 16px;
      display: flex;
      flex-wrap: nowrap;
    margin-left: 0;
    width: 20px;
    height: 50px;
    line-height: 50px;
    }
    .checkbtn {
      /* display: block; */
      position: relative;
      bottom: 15px;
  }
  header {
    height: 300px;
    background:url('images/car-gb47b51dec_1920.jpg');
  
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-attachment:fixed ;
  }
  .sectionvideo{
  
  }
  video{
    height: 200px;
    width: 200px;
  margin-left: 25%;
  }
  #the-top{
  right: 10%;

  }
  }